body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden; /* Prevent scroll bars */
}


.wave-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 0; /* Ensure waves are behind other content */
}

.wave {
    position: absolute;
    width: 2440px;
    height: 2600px;
    opacity: 0.6;
    left: 50%;
    top: 180%;
    transform: translate(-30%, -50%);
    background: linear-gradient(744deg, #af40ff, #5b42f3 60%, #00ddeb);
    border-radius: 40%;
    animation: wave 55s infinite linear;
}

.wave:nth-child(2) {
    animation-duration: 20s;
}

.wave:nth-child(3) {
    animation-duration: 15s;
}

@keyframes wave {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.form-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    width: 100%;
    text-align: center;
    z-index: 1; /* Ensure the form is above the waves */
    position: relative;
}

.form-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%; /* Made the container wider */
    z-index: 1; /* Ensure the container is above the waves */
    position: relative;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f0f0f0;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:nth-child(odd) {
    background-color: #e0e0e0;
}

.delete-btn {
    color: red;
    cursor: pointer;
}

.delete-btn:hover {
    text-decoration: underline;
}

.admin-checkbox {
    cursor: pointer;
}

.back-button-container {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2; /* Ensure the button is above other content */
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #5b42f3; /* Use the same purple color as your waves */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #af40ff; /* Slightly lighter purple on hover */
}
